@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #252525;
    --foreground: #ededed;
  }
} */

:root {
  --background: #141414;
  --foreground: #ededed;
  --panel_color: #1b1b1b;
  --panel_color_hover: #303c4d;
  --secondary_text_color: #909195;

  --color_button: #2b2b2b;
  --color_button_hover: #363636;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.filter-foreground {
  filter: invert(97%) sepia(48%) saturate(6139%) hue-rotate(182deg) brightness(123%) contrast(86%);
}

.secondory-text-color {
  color: var(--secondary_text_color);
}

.color-button-hover:hover {
  background: var(--color_button_hover);
}

.color-button {
  background: var(--color_button);
}

.color-bg {
  background: var(--background);
}

.color-panel {
  background: var(--panel_color);
}

.color-panel-hover:hover {
  background-color: var(--panel_color_hover);
}

.min-w-base {
  min-width: 42rem;
}

.max-w-base {
  max-width: 42rem;
}

.max-w-race-container {
  max-width: 776px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
